
{%extends 'base.html'%}
{%block content%}
{%load static%}
{% load humanize %}

<div class="container-fluid gedf-wrapper mt-3">
    <div class="row">
  
        <div class="col-md-6 offset-3 gedf-main">

      
            {%for tweet in tweets%}
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                {%if tweet.user.profile.image%}
                                <img class="rounded" width="45" height="45" src={{tweet.user.profile.image.url}} alt="">
                                {%else%}
                                <img class="rounded-circle" width="45" src="{%static 'default.jpg'%}" alt="">
                                {%endif%}
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0"><a style="text-decoration: none;" href="{%url 'account:profile' tweet.user.username %}">@{{tweet.user.username}}</a></div>
                                <div class="h7 text-muted">{{tweet.user.first_name}} {{tweet.user.last_name}}</div>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <a class="card-link"  href={{tweet.get_absolute_url}}>
                    <div class="card-body">
                        
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{tweet.created}}</div>
                    </a>
                            {{tweet.text|urlizetrunc:40}}
                </div>
                <div class="card-footer">
                  {%if request.user not in tweet.likes.all %}
                 <a href="" data-toggle="modal" data-target="#myModal"> {{tweet.likes.all|length}} </a> <a href="{%url 'tweet_like' tweet.id %}"  class="card-link"><i class="fa fa-gittip"></i> Like</a>
                  {%else%}
                  <a href="" data-toggle="modal" data-target="#myModal"> {{tweet.likes.all|length}} </a><a  class="card-link"><i class="fa fa-gittip"></i>  Liked</a>
                  {%endif%}
                  <a href="#collapseExample{{tweet.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" class="card-link"  data-toggle="collapse"<i class="fa fa-comment"></i>{{tweet.comments.all|length}} Comment</a>
                  {%if request.user not in tweet.dislikes.all %}
                  <a href="{%url 'tweet_dislike' tweet.id%}" class="card-link"><i class="fa fa-mail-forward"></i> Dislike</a> <a href="" data-toggle="modal" data-target="#disModal"> {{tweet.dislikes.all|length}}</a>
                  {%else%}
                   <a class="card-link"><i class="fa fa-mail-forward"></i><a href="">  Disliked</a> <a href="" data-toggle="modal" data-target="#disModal" > {{tweet.dislikes.all|length}}</a>
                  {%endif%}
                  <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">users who like this tweet</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                    
                          <!-- Modal body -->
                       
                          <div class="modal-body">
                            {%for liker in tweet.likes.all%}
                            <div class="ml-2">
                              <div class="h5 m-0"> {%if liker.profile.image%}<a href="{%url 'account:profile' liker.username %}"><img src="{{liker.profile.image.url}}" width="25" height="20" alt=""></a>{%else%}<a href="{%url 'account:profile' liker.username %}"><img src="{%static 'default.jpg'%}" width="25" height="20" alt=""></a>{%endif%} <a style="text-decoration: none; color: black;" href="{%url 'account:profile' liker.username %}">@{{liker.username}}</a></div>
                              <div class="h7 text-muted ml-3">{{liker.first_name}} {{liker.last_name}}</div>
                          </div>
                            {%endfor%}
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                    <div class="modal" id="disModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                    
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">users who dislike this tweet</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                    
                          <!-- Modal body -->
                       
                          <div class="modal-body">
                           
                            {%for disliker in tweet.dislikes.all%}
                            <div class="ml-2">
                              <div class="h5 m-0"> {%if disliker.profile.image%}<a href="{%url 'account:profile' disliker.username %}"><img src="{{disliker.profile.image.url}}" width="25" height="20" alt=""></a>{%else%}<a href="{%url 'account:profile' disliker.username %}"><img src="{%static 'default.jpg'%}" width="25" height="20" alt=""></a>{%endif%} <a style="text-decoration: none; color: black;" href="{%url 'account:profile' disliker.username %}">@{{disliker.username}}</a></div>
                              <div class="h7 text-muted ml-3">{{disliker.first_name}} {{disliker.last_name}}</div>
                          </div>
                            {%endfor%}
                          </div>
                    
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                    
                        </div>
                      </div>
                    </div>
          
              </div>
            </div>



            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Launch demo modal
              </button> -->
              
              <!-- Modal -->
              <div class="collapse" id="collapseExample{{tweet.id}}">
                <div class="card card-body">
                  
                    <div class="row bootstrap snippets">
                        <div class="col-md-12 col-md-offset-2 col-sm-12">
                            <div class="comment-wrapper">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Comment 
                                    </div>
                                    <div class="panel-body">
                                        <form action="{%url 'tweet_comment'%}" method="POST" >
                                            {%csrf_token%}
                                        <textarea class="form-control" name="text" placeholder="write a comment..." rows="3"></textarea>
                                    
                                        <br>
                                        <button type="submit" name="tweet_id" value={{tweet.id}} class="btn btn-info pull-right">Post</button>
                                    </form>
                                        <div class="clearfix"></div>
                                        <hr>
                                        <ul class="media-list">
                                              {%for comment in tweet.comments.all reversed%}
                                            <li class="media">
                                                {%if comment.user.profile.image %}
                                                <a href="{%url 'account:profile' comment.user.username%}" class="pull-left">
                                                    <img src="{{comment.user.profile.image.url}}" alt="" height="50" width="50" class="img-circle">
                                                </a>
                                                {%else%}
                                                <a href="{%url 'account:profile' comment.user.username%}"  class="pull-left">
                                                    <img src="{%static 'default.jpg'%}" alt="" height="50" class="img-circle">
                                                </a>
                                                {%endif%}
                                                <div class="media-body">
                                                    <span class="text-muted pull-right">
                                                        <small class="text-muted">{{comment.created|naturaltime}}</small>
                                                    </span>
                                                    <a href="{%url 'account:profile' comment.user.username%}" style="text-decoration: none;"><strong class="text-success ml-3">@{{comment.user.username}}</strong></a>
                                                    <p class="ml-3">
                                                        {{comment.text}}
                                                    </p>
                                                </div>
                                            </li>
                                            {%endfor%}
         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
                    <!-- <div class="comment">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                                {%if comment.user.profile.image%}
                              <img class="media-object photo-profile" src="{{comment.user.profile.image.url}}" width="32" height="32" alt="...">
                            {%else%}
                            <img class="media-object photo-profile" src="https://picsum.photos/50/50" width="32" height="32" alt="...">
        
                            {%endif%}
                            </a>
                          </div>
                          <div class="media-body">
                            <a href="#" style="text-decoration: none; " class="anchor-username">@{{comment.user.username}}    </a>   {{comment.text}}
                   
                            <p style="font-size: smaller;"> {{comment.created|naturaltime}}</p>
                            
                          </div>
                        </div>
                   </div>  -->
               
             </div>
              </div>
        
            {%endfor%}


        </div>
        <div class="col-md-3"></div>

     
    </div>
</div>
{%endblock%}

    
